[Desktop Entry]
Type=Application
Name=AutoStack CLI
Exec=autostack-cli %u
Icon=utilities-terminal
Terminal=true
MimeType=x-scheme-handler/autostack;
Categories=Utility;
